
body {
    background-color: black !important;
}

/* Custom styling for nav bar elements */
.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Custom styling for logo container and font */
.navbar-brand {
    background-color: aqua;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 12rem;
    padding-left: 4rem;
    font-size: 2rem;
    font-weight: 600;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

/* Custom styling for navbar container */
.container-fluid {
    padding-left: 0;
    padding-right: 4rem;
}

/* Custom navbar background */
.bg-body-tertiary {
    background-color: black !important;
}

/* Custom styling for nav link text*/
.nav-link {
    color: aqua;
    border-bottom: 2px solid aqua;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: .3rem !important;
    font-weight: 500;
}

/* custom styling for nav link hover state */
.nav-link:hover {
    color: white;
    border-bottom: 2px solid white ;
}

/* Custom CSS to remove hero top margin */
.my-5 {
    margin-top: 0 !important;
}

/* Custom CSS to position navbar links to the right */
.me-auto {
    margin-right: 0 !important;
    margin-left: auto !important;
    gap: 1rem;
}

/* Custom styling for hero area container */
.container {
    display: flex;
    max-width: 100%;
    height: 20rem;
    margin-left: 0;
    margin-right: 0 !important;
    background-size: cover;
    background-position: center;
    background-image: url(../Images/circuit-board-high-tech-technology-background-tex-2022-12-16-04-16-49-utc-2.jpg);
    background-repeat: no-repeat;
}

/* Custom styling for Subtitle text in hero section */
.container .subtitle {
    display: block;
    position: absolute;
    top: 35%;
    left: 80%;
    right: 0;
    height: auto !important;
    /* width: 240px; */
    border-radius: 40px;
    display: inline;
    margin-bottom: 0;
    margin: 0px 20px;
    padding: 5px 30px 5px 30px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    background-color: black;
}

/* Styling for titles below hero section */
.section-title {
    word-break: break-all;
    padding-right: 20px;
    text-align: right;
    border-right: 3px solid #363636;
    border-color: #363636;
    color: #363636;
    margin-top: 1rem;

}

/* Styling for row container */
/* .row {
    margin: 1rem;

} */

/* Custom styling for BlendIn work card */
.col-lg-10 .card {
    height: 300px !important;
    border: 2px solid aqua;
    border-radius: 0;
    background-image: url(../Images/dark-blue-gradient-smooth-abstract-background-hor-2023-05-23-05-20-53-utc.jpg);
}

/* Styling for other work cards */
.col-lg-5 .card {
    border: 2px solid aqua;
    border-radius: 0;
}

/* Bg image for End child food poverty project */
#End {
    background-image: url(../Images/End-child-food-poverty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Bg image for National rail card */
#National {
    background-image: url(../Images/National-rail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

/* Bg image for IFA */
#IFA {
    background-image: url(../Images/IFA-Dataflow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

/* Bg image for Woolroom */
#Woolroom {
    background-image: url(../Images/Woolroom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

/* Styling for Card Title */
.card-title {
    font-size: 1rem;
    color: aqua
}

/* Styling for card paragraph text */
.card-text {
    font-size: .5rem;
    color: white;
}

/* Styling for card text block */
.text-container {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 14rem;
    padding: .5rem;
    background-color: black;
}


/* Custom margin for all cards */
.card {
    margin: 1rem;
}

/* Custom height for smaller cards */
.col-lg-5 .card {
    height: 200px;
}

/* Styling for about section margin */
.about-container {
    margin-top: 3rem;
    margin-bottom: 10rem;
}

/* Styling for paragraph text */
.p-text {
    color: white;
    line-height: 2.5;
    padding-right: 12px;
    width: 80%;

}

/* Styling for images */
img {
    max-width: 100%;
    max-height: 100%;
    padding-left: 12px;
}

/* Margins for skills section container */
.skills-container {
    margin-top: 3rem;
}

/* Styling for text in skills section */
.skills-text {
    margin-left: 12px;
    color: white;
    line-height: 2.5;
}

/* Custom styling for footer nav links */
#footer-custom .nav-link {
    border-bottom: none;
}

/* Custom styling for footer nav links on hover */
#footer-custom .nav-link:hover {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #ffffff;
}


.p-5 {
    padding: 0 !important;
}